    /*Reset CSS*/
    
    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
        outline: none;
    }
    
    ul,
    ol {
        list-style: none;
    }
    
    img {
        max-width: 100%;
    }
    
    body {
        color: #000;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.285;
        font-family: 'Roboto', sans-serif;
        min-height: 2000px;
        background-color: #fafafa;
    }
    
    .container {
        max-width: 1170px;
        margin: 0 auto;
        background-color: #fafafa;
        overflow: hidden;
    }
    /*Test image*/
    
    #test {
        width: 100%;
        min-height: 4000px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-image: url(../img/01-home-anhtrang.png);
        background-size: 1440px auto;
        background-repeat: no-repeat;
        background-position: center 0px;
        z-index: 9999;
        opacity: 0.5;
    }
    /*Global styling*/
    
    .main-wrapper {
        float: left;
        width: 73%;
        margin-right: 4%;
    }
    
    .side-bar-wrapper {
        float: right;
        width: 23%;
    }
    
    .outter-container {
        width: 100%;
        overflow: hidden;
    }
    
    .bold-para {
        font-weight: bold;
    }
    
    .orange-para {
        color: #cb672e;
    }
    
    .section-auto-padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /*==============================Header==========================*/
    /*Top description div*/
    
    header .top-desc p {
        font-weight: 600;
        padding: 13px 0px;
        font-size: 12px;
        color: #0c8597;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid #ebeaea;
    }
    
    header .top-brand-logo {
        padding: 0px 0px;
        float: left;
        overflow: hidden;
    }
    
    header .top-phone-number {
        float: right;
        padding: 30px 0px;
        overflow: hidden;
    }
    
    header .top-phone-number p {
        font-size: 16px;
    }
    
    header .top-phone-number p span {
        color: #f9100b;
        font-size: 22px;
        font-weight: 900;
    }
    
    .top-search-box {
        padding: 30px 0px;
    }
    
    header .top-search-box input,
    header .top-search-box button {
        padding: 10px;
        border: 1px solid #ebeaea;
    }
    
    header .top-search-box input {
        width: 85%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    header .top-search-box button {
        width: 15%;
        margin-left: -5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
        background-color: white;
    }
    /*Navigator section*/
    
    #navigator {
        width: 100%;
    }
    
    .nav-bar-background {
        background-color: #ebeaea;
        width: 100%;
        height: 40px;
        border-bottom: 2px solid #cb672e;
    }
    
    .nav-item {
        float: left;
    }
    
    .nav-link {
        padding: 20px 25px 20px 25px;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #cb672e;
        line-height: 2.25;
    }
    
    .nav-link:hover {
        background-color: #cb672e;
        color: white;
    }
    
    .main-nav {
        list-style: none;
    }
    /*============Main section==============*/
    /*slider styling*/
    
    main {
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 5px;
    }
    
    main div {
        background-color: white;
        padding: 5px;
    }
    
    #slider {
        overflow: hidden;
    }
    
    #slider figure {
        position: relative;
        width: 300%;
    }
    
    #slider figure img {
        float: left;
        width: 33%;
    }
    /*Over view section*/
    
    #home-page-overview {
        padding-top: 70px;
    }
    
    #home-page-overview h2 {
        font-size: 24px;
    }
    
    #home-page-overview p {
        padding: 11px 0px;
    }
    
    #products-show-case .products-show-case-title {
        text-align: center;
    }
    
    #products-show-case .products-show-case-title h4 {
        color: red;
        font-size: 24px;
    }
    
    #products-show-case .products-show-case-title h1 {
        padding-bottom: 20px;
        color: #56a6b2;
        font-size: 36px;
    }
    /*====================Product showcase section==================*/
    /*Product showcase row*/
    
    .product-showcase-category {
        padding: 12px;
        padding-left: 22px;
        margin-left: 10px;
        width: 100%;
        background-color: #cb672e;
        position: relative;
    }
    
    .product-showcase-category::before {
        content: "";
        position: absolute;
        top: -11%;
        left: -1%;
        width: 0px;
        height: 0px;
        border-top: 14px solid white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        transform: rotate(130deg);
        display: block;
    }
    
    .product-showcase-category::after {
        content: "";
        position: absolute;
        top: 15%;
        left: 1%;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        display: block;
        background-color: #fafafa;
    }
    
    .product-showcase-category h3 {
        text-transform: uppercase;
        color: white;
    }
    /*Product showcase row*/
    
    .product-showcase-row {
        width: 100%;
        overflow: hidden;
    }
    
    .product-showcase-item {
        width: 25%;
        padding: 10px;
        text-align: center;
        float: left;
    }
    
    .product-showcase-items a {
        text-decoration: none;
    }
    
    .product-showcase-item p {
        font-weight: 600;
        color: black;
    }
    
    .product-showcase-items a:hover .product-showcase-item img {
        border: 1px solid #0c8597;
    }
    
    .product-showcase-items a:hover .product-showcase-item p {
        color: red;
    }
    /*Comment section*/
    
    #comment h5 {
        font-size: 18px;
    }
    
    .fb-comments {
        width: 100%;
        margin: 0 auto;
    }
    /*Aside bar*/
    
    .side-bar-box {
        background-color: white;
        margin-bottom: 0px;
        margin-bottom: 20px;
    }
    
    .customer-box {
        padding: 15px;
    }
    
    .customer-box-header {
        position: relative;
    }
    
    .customer-box-header h6 {
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .customer-box-header::after {
        content: "";
        position: absolute;
        bottom: -10%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ebeaea;
    }
    
    .customer-box-header::before {
        content: "";
        position: absolute;
        bottom: -10%;
        left: 0;
        width: 20%;
        height: 2px;
        background-color: #cb672e;
    }
    
    .box-header h6 {
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .box-content {
        padding-top: 25px;
        padding: 15px;
    }
    
    .customer-box-content {
        padding: 0px;
        padding-top: 25px;
    }
    
    .box-content p {
        padding-bottom: 15px;
    }
    /*Customer box skype icon*/
    
    .customer-box-content p img {
        width: 50px;
    }
    /*Customer box*/
    
    .customer-box {
        margin-top: -25px;
    }
    /*Box header*/
    
    .box-header {
        width: 100%;
        background-color: #cb672e;
        overflow: hidden;
        position: relative;
    }
    
    .box-header h6 {
        padding: 20px;
        color: white;
        float: left;
    }
    
    .box-header i {
        float: right;
        font-size: 20px;
        color: white;
        position: absolute;
        right: 5%;
        top: 30%;
    }