@media (min-width: 320px) and (max-width: 1024px) {
    #big-wrapper {
        width: 100%;
        display: block;
        padding: 20px;
    }
    #side-bar-wrapper {
        width: 100%;
        padding: 20px;
        display: block;
    }
}